Body{
    background-image:
        url(http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg);
}
:root{
  --white: white;
  --black: black;
}
.bg-dark{
  background-color: rgb(48, 51, 59);
  background-image: -webkit-radial-gradient(center , circle cover, rgb(57, 59, 69) 0%, rgb(45, 48, 56) 70%);
  min-height: calc(100vh - 30px);
  margin: 0;
}
 .btn-container{
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
  .button{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relativate;
    display: inline-block;
    border: 2px solid var(--black);
    padding: 20px 15px;
    color: var(--white);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--black);
    transition: color 0.5s, background 0.5s;
    margin-left: 70px;
    margin-top: 20px;
    font-size: 8px;
    min-width: 120px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    border-radius: 50px;
}
.button:hover{
    color: var(--white);
    background-color: transparent;
}
.button:active{
    box-shadow: inset 0 0 20px var(--black);
}
H1{
    font-family: 'Press Start 2P', cursive;
    color: #BAB3B3;
    margin-top: 15px;
    margin-left: 120px;
    margin-right: 70px;  
    font-size: 40px; 
}
H2{
  font-family: 'Press Start 2P', cursive;
  color: #BAB3B3;
  margin-left: 120px;
  margin-top: 15px; 
  margin-right: 100px;  
  font-size: 40px; 
}
.caja{
  float: left; 
  margin-left: 0px;
  margin-top: 10px;
  position: relative;
}
.caja1{
    float: right; 
    margin-right: 0px; 
    margin-top: 15px;
    position: relative; 
}
.console{
  margin-top: 30px; 
  margin-left: 525px; 
  position: absolute;
  border: 1px solid white; 
}
